body {
    background-color:#ffd900; text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

h1,h2 {
    color:white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 300%;
}

a {
    font-weight: bold; 
    /* font-size: 150%; */
    text-decoration:overline;
}

/* main {
    font-size: 16px;
} */ 

p {
    font-size: 140%;
    line-height:1.7;
}
div {
    text-align: justify;
    background-color: rgba(127, 255, 212, 0.473);
}